body
{
    background-color: whitesmoke;
}
.main-cont
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-cont .container
{
    /* padding: 5px; */
    display: grid;
    grid-template-columns: repeat(3,100px);
    background-color: rgba(255, 0, 242, 0.781);
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    overflow: hidden;
}
.container .btn
{
    border-radius: 1px;
    border-style: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: whitesmoke;
}

.main-cont .show-cont
{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color:  rgba(128, 128, 128, 0.014);
    display: none;
    
}
.show-cont .show{
    position: relative;
    width: 350px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 7px 6px 2px lightgray;
}
.show #winner
{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: darkblue;
}
.show .ask
{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.show .show-btn
{
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.show-btn button
{
    padding: 6px;
    border-radius: 2px;
    border-style: none;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 1px 1px lightblue;
}
.show-btn button:hover
{
    background-color: rgba(211, 211, 211, 0.945);
    cursor: pointer;
}
.main-cont .score-cont
{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.score-cont .player
{
    background-color: white;
    padding: 10px;
    width: 80px;
    border-radius: 4px;
    box-shadow: 2px 2px lightgrey;
}
.player div
{
    display: flex;
    justify-content: center;
}
.player .txt
{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.player .two
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.opponent .two
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.two .s-txt
{
    font-size: 25px;
    color: darkviolet;
    font-weight: bold;
}
.score-cont .opponent
{
    background-color: white;
    padding: 10px;
    width: 80px;
    border-radius: 4px;
    box-shadow: 2px 2px lightgrey;
}
.opponent div
{
    display: flex;
    justify-content: center;
}
.opponent .txt
{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.score-cont .txt-p
{
    font-size: 25px;
    color: rgb(226, 95, 7);
}
.score-cont .line1,.line2
{
    background-color: dodgerblue;
    width: 21px;
    height: 2px;
    position: relative;
    animation: move 2s infinite;
}
@keyframes  move{
    0%
    {
        left: 0px;
        /* transition: 2s ease-in-out; */
        width: 35px;
        
    }
    100%
    {
        left: 70px;
        /* transition: 2s ease-in-out; */
        width: 15px;
        
    }
}
.score-cont .line2{
    visibility: hidden;
}
